<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
			
			
<hibernate-configuration>

			<session-factory>
			
				<property name="connection.driver_class">org.postgresql.Driver</property>
				<property name="connection.url">jdbc:postgresql://ec2-184-73-169-163.compute-1.amazonaws.com:5432/dfbrtqmatmp0rn?sslmode=require</property>		
				<property name="connection.username">cfzfrskiudvvtv</property>
				<property name="connection.password">5156ad3cef0608d791dd2a0138a2016fa842227f60726b9c43285acccc28a393</property>
				
				<property name="connection.pool_size">1</property>
				
				<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
				
				<property name="show_sql">true</property>
				
				<property name="current_session_context_class">thread</property>
				
			</session-factory>
				
</hibernate-configuration>					